<div ng-include src="'pages/userHeader.htm'"></div>
<h3><div class="appcolor"><b>Edit Item</b></div></h3>
<hr>
<div class="form-group col-md-offset-2 appcolor" > 
    <h3><div><b>Organic lemon fresh and direct from farm</b></div></h3>    
    <table class="appcolor">
        <tr>
            <td class="col-md-4">
                <img src="img/lemon.jpg" class="img-rectangle" alt="" width="200" height="200">
            </td>            
            <td>
                <hr>
                <table align="center">
                    <tr>
                        <td class="col-md-12">
                            Unit Type: Kgs   
                        </td>
                        <td class="col-md-1">
                            <a href="#/editsale" ng-click="SaleItemSelected(sellertable);">
                                <span class="glyphicon glyphicon-menu-right appcolor" aria-hidden="true" style="font-size:20px;"></span>
                            </a>
                        </td>
                    </tr>                    
                </table>
                <hr>                
                <table align="center">
                    <tr>
                        <td class="col-md-12">
                            Price/Unit: 120
                        </td>
                        <td class="col-md-1">
                            <a href="#/editsale" ng-click="SaleItemSelected(sellertable);">
                                <span class="glyphicon glyphicon-menu-right appcolor" aria-hidden="true" style="font-size:20px;"></span>
                            </a>
                        </td>
                    </tr>                    
                </table>
                <hr>                
                <table align="center">
                    <tr>
                        <td class="col-md-12">
                            Minimum Order Qty: 1 Kgs
                        </td>
                        <td class="col-md-1">
                            <a href="#/editsale" ng-click="SaleItemSelected(sellertable);">
                                <span class="glyphicon glyphicon-menu-right appcolor" aria-hidden="true" style="font-size:20px;"></span>
                            </a>
                        </td>
                    </tr>                    
                </table>
                <hr>                
                <table align="center">
                    <tr>
                        <td class="col-md-12">
                            Maximum Order Qty: 5 Kgs
                        </td>
                        <td class="col-md-1">
                            <a href="#/editsale" ng-click="SaleItemSelected(sellertable);">
                                <span class="glyphicon glyphicon-menu-right appcolor" aria-hidden="true" style="font-size:20px;"></span>
                            </a>
                        </td>
                    </tr>                    
                </table>                
                <hr>  
            </td>
        </tr>
        <table>
            <tr>
                <td class="col-md-6">
                    <div>Total Qty : 90 Kgs</div>                
                </td>
                <td class="col-md-6">
                    <div>Total Value : 10,800</div>                
                </td>            
            </tr>
        </table>        
        <hr>
        <table>
            <tr>
                <td class="col-md-6">
                    <div>Sold Qty : 30 Kgs</div>                
                </td>
                <td class="col-md-6">
                    <div>Sold : 3,600</div>                
                </td>
            </tr>
        </table>
        <hr>        
        <table>
            <tr>
                <td class="col-md-6">
                    <div>Balance Qty : 60 Kgs</div>                
                </td>
                <td class="col-md-6">
                    <div>Balance Value : 7,200</div>                
                </td>
            </tr>
        </table> 
        <hr>
    </table>
</div>
            
            
            
              