<div ng-include src="'pages/appHeader.htm'"></div>
<div class="account-container">	
	<div class="content clearfix">		
		<div align="center">    
            <br><br><br>
            <div class="row">
                <div class="form-group">
                    <img src="img/logo.jpg" class="img-circle" alt="" width="100" height="100">
                    <br><br>
                    <label for="Username"><h3>Enter mobile number</h3></label>
                    <input type="text" style="text-align:center;" maxlength="10" size="10" ng-model="mobile" class="form-control"/><br><br>
                    <a href="#/verify" ng-click="SendCode();" class="btn btn-default">Send Code</a>       
                </div>       
            </div>
        </div>		
	</div>
</div>


<div class="form-group col-md-6 col-md-offset-3" align="center">            
    <div>
        <br><br>
        <h4><b>Step 1 of 3</b></h4>
        <p>
            Your registration process has 3 steps. Request for mobile verification, verify the code received on mobile and then registereing your personal details with Ecobasket community. We hope to see you soon in this unique community who shares or sells safe-to-eat, home grown food. Good luck with your step towards organic living!
        </p>
    </div>
</div>