<div ng-include src="'pages/userHeader.htm'"></div>
<div class="account-container">	
	<div class="content clearfix">		
		<div align="center">    
            <br><br>
            <div class="row">
                <div class="form-group">
                    <label for="welcome">Welcome!</label><br>
                    <img src="img/logo.jpg" class="img-circle" alt="" width="100" height="100">
                    <br>
                    <label for="ecobasket"><h2><b>EcoBasket</b></h2></label><br>
                    <a href="#/" ng-click="CompleteRegistration();" class="btn btn-default">Complete Registration</a><br><br>
                    <a href="#/" ng-click="ExploreCommunity();" class="btn btn-default">Explore Community</a>        
                </div>       
            </div>
        </div>		
	</div>
</div>

<div class="form-group col-md-6 col-md-offset-3" align="center">            
    <div>
        <br><br>
        <h4><b>Well done, Step 2 of 3 completed</b></h4>
        <p>
            Your mobile number has been successfully verified. You are just one step away from completing the registration process to become part of EcoBasket organic living community. In order to become part of selling or buying products from EcoBasket community members, please complete the last step in the registration process. Alternatively you can explore first, and then register.
        </p>
    </div>
</div>